.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #555;
}


